.tasksTable {
    background-color: darkblue;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.TaskTableContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DeleteButton {
    background-color: red;
    height: 20px;
    width: 30px;
    border-radius: 10px;
}
